body {
width:60%;
font-family:Georgia, serif;
margin:20px auto;
}

a {
color:#ce242a;
}

a:visited {
color:#9f2826;
}

div.chapter {
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
padding:50px 0;
}

p {
line-height:1.4em;
}

#titlepage {
position:relative;
}

.titlepage h2.title {
font-size:200%;
}

h1.title {
font-size:250%;
}

h1.maintitle {
float:left;
width:535px;
}

h1.maintitle a {
color:#000;
}

.social {
position:absolute;
top:35px;
right:0;
}

h1,h2,h3,h4,h5 {
font-family:Helvetica,Arial, sans-serif;
}

.example {
margin:20px 0;
}

.example .example-contents {
margin:0 0 10px;
}

.example .title {
font-family:Helvetica, Arial, sans-serif;
font-style:italic;
font-size:90%;
margin:20px 0 3px;
}

dt span.term {
font-family:Helvetica, Arial, sans-serif;
font-weight:700;
}

p.toc {
font-family:Helvetica, Arial, sans-serif;
font-size:90%;
}

#toc {
border-top:1px solid #CCC;
margin:30px 0 0;
padding:12px 0 0;
}

#toc li,#loe li {
color:#ce242a;
cursor:pointer;
}

.translators .translator {
margin:0 0 15px;
}

.translators .corrections {
font-size:14px;
font-weight:400;
margin:0;
}

.clear {
clear:both;
}

.note,.translators {
background-color:#FFEE66;
padding:15px;
}